*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: #F3E9D2;
	font-size: 100%;
	font-family: "Palatino Linotype", "Georgia";
}

body ::selection
{
	background: green;
	color: white;
}

#top
{
	display: block;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 3;
}

#phone-menu 
{
	opacity: 0;
}

nav ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li 
{
    padding: 6px 20px;
    font-size: 26px;
}

nav ul li a 
{
	text-decoration: none;
	color: white;
}

#phone-menu button 
{
    opacity: 0.6;
    background-color: transparent;
    position: fixed;
    z-index: 2;
    top: 15px;
    left: 4%;
    border: none;
    width: 8.5333333%;
    height: 3%;
    min-height: 24px;
    outline: none;
    transition: opacity 0.2s ease-out;
}

@media screen and (min-width: 401px) and (max-width: 501px)
{
	#phone-menu button 
	{
	    left: 4%;
	    width: 8.8%;
	    height: 4.5%;
	    min-height: 30px;
	    max-height: 32px;
	}
}

#phone-menu button:before 
{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    right: auto;
    width: 100%;
    background: linear-gradient(to bottom, #000000, #000000 14%, transparent 14%, transparent 43%, #000000 43%, #000000 57%, transparent 57%, transparent 86%, #000000 86%, #000000 100%);
    transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
}

#phone-menu button:after 
{
    opacity: 0;
    content: '×';
    color: white;
    position: absolute;
    top: 16px;
    left: -4px;
    font-family: Arial, sans-serif;
    font-size: 76px;
    line-height: 0;
    transition: opacity 0.4s ease-out;
}

#phone-menu button:active 
{
    transform: translateY(2px);
}

.open #phone-menu button 
{
    opacity: 1;
}

#a
{
    display: none;
    position: absolute;
    top: -35px;
    left: 16px;
    width: 40px;
    height: 35px;
    font-weight: bold;
    font-size: 84px;
    color: white;
    cursor: pointer;
}

.open button:before 
{
    opacity: 0;
    width: 0;
}

.open #phone-menu button:after 
{
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(360deg);
    transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
    transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
    transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
}

nav 
{
    z-index: 1;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    overflow: hidden;
}

nav:before 
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(123, 156, 121, 0.98);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    transform: scale(0.04), translateY(9999px);
    overflow: hidden;
}

.open nav 
{
    top: 0;
}

.open nav:before 
{
    animation: menu-animation 0.8s ease-out forwards;
}

nav ul.menu, nav .lang-change
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: white;
}

nav ul.menu li, nav .lang-change li
{
    opacity: 0;
    text-align: center;
}

nav ul.menu li:hover:before, nav .lang-change li:hover:before
{
    left: 0;
    right: auto;
    width: 100%;
}

nav ul.menu li:hover:after, nav .lang-change li:hover:after 
{
    opacity: 1;
    padding: 0 20px;
    transform: translate(0px, 6px);
    transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
    transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
    transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
}

#c
{
    display: none;
}

.open ul.menu li, nav .lang-change li
{
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.open ul.menu li:nth-child(1) 
{
    transition-delay: 0.75s;
}

.open ul.menu li:nth-child(2) 
{
    transition-delay: 0.85s;
}

.open ul.menu li:nth-child(3) 
{
    transition-delay: 1s;
}

.open ul.menu li:nth-child(4) 
{
    transition-delay: 1.15s;
}

.open ul.menu li:nth-child(5) 
{
    transition-delay: 1.3s;
}

@-webkit-keyframes menu-animation 
{
    0% 
    {
        opacity: 0;
        transform: scale(0.04) translateY(300%);
    }

    40% 
    {
        transform: scale(0.04) translateY(0);
        transition: ease-out;
    }

    60% 
    {
        opacity: 1;
        transform: scale(0.02);
    }

    61% 
    {
        transform: scale(0.04);
    }

    99.9% 
    {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }

    100% 
    {
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}

@keyframes menu-animation 
{
    0% 
    {
        opacity: 0;
        transform: scale(0.04) translateY(300%);
      }

    40% 
    {
        transform: scale(0.04) translateY(0);
        transition: ease-out;
    }

    60%
    {
        opacity: 1;
        transform: scale(0.02);
    }

    61% 
    {
        transform: scale(0.04);
    }

    99.9% 
    {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }

    100% 
    {
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}

#heading
{
	display: block;
	width: 100%;
	background-color: #228b22;
	min-height: 50px;
}

#heading > img
{
	display: none;
}

#heading a img
{
	display: block;
	margin: 0 auto;
	width: 13%;
	height: 20%
}

#menu #top-menu
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #5da130;
	box-shadow: 0px 3px 6px 0px #50514f;
	text-align: center;
}

.menu_it a 
{
 	display: block;
 	margin: auto;	
 	text-decoration: none;
 	color: #F5F5F5;
 	padding: 12px 15px;
 	position: relative;
 	transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
 	z-index: 1;
}

.menu_it a:after 
{
 	content: '';
 	display: block;
 	height: 0;
 	position: absolute;
 	bottom: 0;
 	right: 1.25rem;
 	left: 1.25rem;
 	background-color: #ffffff;
 	-webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
 	transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
 	-webkit-transform-origin: bottom center;
 	transform-origin: bottom center;
 	z-index: -1;
}

.menu_it a:hover 
{
 	color: #2D2D2D;
}

.menu_it a:hover:after 
{
 	right: 0;
 	left: 0;
 	height: 100%;
}

.menu_it 
{
	display: inline-block;
	transition: .5s ease-in-out;
	color: #F5F5F5;
}

.menu_it :hover, .menu_it:hover 
{
	color: #000000;
	cursor: pointer;
}

#top-lang
{
	text-align: left;
	position: absolute;
	background-color:  #5da130;
	display: none;
	width: 122px;
	height: 145px;
	border: 2px solid #228b22;
	border-top: none;
	transition: .5s ease-in-out;
}

#top-lang img
{
	width: 25px;
	margin: 5px 5px 0 6px;
}

#top-lang a
{
	padding: 0;
	font-size: 100%;
	text-decoration: none;
	color: #F5F5F5;
	transition: .5s ease-in-out;
}

#top-lang li
{
	margin: 4px 0 4px 0;
	list-style: none;
}

#top-lang >:first-child
{
	margin-top: 2px;
}

#top-lang a:hover
{
	color: #000000;
}

#top-menu :last-child:hover #top-lang
{
	display: block;
}

#content 
{
	margin: 14% 10% 5% 10%;
}

#main-header
{
	text-align: center;
	font-weight: bold;
	font-size: 1.8em;
	padding-bottom: 20px;
}

.header
{
	text-align: center;
	font-weight: bold;
	font-size: 1.4em;
	padding-bottom: 20px;
}

.text
{
	font-size: 1.15em;
	text-indent: 25px;
	padding-bottom: 20px;
}

#content ul 
{	
	text-indent: 0;
	padding: 10px 0 10px 0;
}

#content ul li
{
	margin-left: 5.7803468%;
}

.wrapper 
{
	height: 350px;
	margin: 0 auto;
	position: relative;
	width: 55%;
	min-width: 700px;
	padding-bottom: 130px;
}

.slider 
{
	background-color: #ddd;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: 100%;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.wrapper .controls 
{
	text-align: center;
	width: 400px;
	margin: 0 auto;
}

.wrapper .controls label:after 
{
	border: 2px solid #000000;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.wrapper .controls label  
{
	cursor: pointer;
	display: inline-block;
	height: 8px;	
	width: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5),
#slide6:checked ~ .controls label:nth-of-type(6),
#slide7:checked ~ .controls label:nth-of-type(7),
#slide8:checked ~ .controls label:nth-of-type(8),
#slide9:checked ~ .controls label:nth-of-type(9),
#slide10:checked ~ .controls label:nth-of-type(10), 
#slide11:checked ~ .controls label:nth-of-type(11),
#slide12:checked ~ .controls label:nth-of-type(12),
#slide13:checked ~ .controls label:nth-of-type(13),
#slide14:checked ~ .controls label:nth-of-type(14),
#slide15:checked ~ .controls label:nth-of-type(15),
#slide16:checked ~ .controls label:nth-of-type(16)  
{
	background: #000000;
}

.slides 
{
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slider .slides .prev, .slider .slides .next 
{
    width: 12%;
    height: inherit;
    position: absolute;
    top: 0;
    background-color: #000000;
    opacity: 0.15;
    z-index: 99;
    transition: .45s;
    cursor: pointer;
    text-align: center;
}

.slider .slides .next 
{
    right: 0;
}

.slider .slides .prev 
{
    left: 0;
}

.slider .slides .prev:hover, .slider .slides .next:hover
{
    transition: .3s;
    background-color: #000000;
    opacity: 0.6;
}

.slider .slides .prev span, .slider .slides .next span 
{
    position: absolute;
    width: 0px;
    height: 0px;
    border: solid 20px;
    top: 50%;
    transform: translateY(-50%);
}

.slider .slides .prev span 
{
    border-color: transparent #fff transparent transparent;
    right: 35%;
}

.slider .slides .next span 
{
    border-color: transparent transparent transparent #fff;
    left: 35%;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5,
#slide6:checked ~ .slider > .slide6,
#slide7:checked ~ .slider > .slide7,
#slide8:checked ~ .slider > .slide8,
#slide9:checked ~ .slider > .slide9,
#slide10:checked ~ .slider > .slide10,
#slide11:checked ~ .slider > .slide11,
#slide12:checked ~ .slider > .slide12,
#slide13:checked ~ .slider > .slide13,
#slide14:checked ~ .slider > .slide14,
#slide15:checked ~ .slider > .slide15,
#slide16:checked ~ .slider > .slide16 
{
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

#slide1:checked ~ .slider > .slide1
{
	background: url('pictures/MainPhotos/MP7.jpg') no-repeat;
	background-size: cover;
}

#slide2:checked ~ .slider > .slide2
{
	background: url('pictures/MainPhotos/MP21.jpg') center center no-repeat;
	background-size: contain;
}

#slide3:checked ~ .slider > .slide3
{
	background: url('pictures/MainPhotos/MP20.jpg') center center no-repeat;
	background-size: contain;
}

#slide4:checked ~ .slider > .slide4
{
	background: url('pictures/MainPhotos/MP15.jpg') center center no-repeat;
	background-size: contain;
}

#slide5:checked ~ .slider > .slide5
{
	background: url('pictures/MainPhotos/MP1.jpg') center center no-repeat;
	background-size: contain;
}

#slide6:checked ~ .slider > .slide6
{
	background: url('pictures/MainPhotos/MP30.jpg') center center no-repeat;
	background-size: contain;
}

#slide7:checked ~ .slider > .slide7
{
	background: url('pictures/MainPhotos/MP6.jpg') center center no-repeat;
	background-size: contain;
}

#slide8:checked ~ .slider > .slide8
{
	background: url('pictures/MainPhotos/MP26.jpg') center center no-repeat;
	background-size: contain;
}

#slide9:checked ~ .slider > .slide9
{
	background: url('pictures/MainPhotos/MP27.jpg') center center no-repeat;
	background-size: contain;
}

#slide10:checked ~ .slider > .slide10
{
	background: url('pictures/MainPhotos/MP17.jpg') center center no-repeat;
	background-size:contain;
}

#slide11:checked ~ .slider > .slide11
{
	background: url('pictures/MainPhotos/MP12.jpg') center center no-repeat;
	background-size: contain;
}

#slide12:checked ~ .slider > .slide12
{
	background: url('pictures/MainPhotos/MP13.jpg') center center no-repeat;
	background-size: contain;
}

#slide13:checked ~ .slider > .slide13
{
	background: url('pictures/MainPhotos/MP5.jpg') center center no-repeat;
	background-size: contain;
}

#slide14:checked ~ .slider > .slide14
{
	background: url('pictures/MainPhotos/MP19.jpg') center center no-repeat;
	background-size: contain;
}

#slide15:checked ~ .slider > .slide15
{
	background: url('pictures/MainPhotos/MP16.jpg') center center no-repeat;
	background-size: contain;
}

#slide16:checked ~ .slider > .slide16
{
	background: url('pictures/MainPhotos/MP8.jpg') center center no-repeat;
	background-size: contain;
}

#slide1, #slide2, #slide3, #slide4, #slide5, #slide6, #slide7, #slide8, #slide9, #slide10, #slide11, #slide12, #slide13, #slide14, #slide15, #slide16
{
	visibility: hidden;
}

#last-frase
{
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}

#forest
{
	height: 65px;
	background-image: url('pictures/el.png');
	background-position: left top;
	background-size: 45px 75px;
}

#bottom-block
{
	display: block;
	position: absolute;
	width: 100%;
	height: 35%;
	background-color: #90d379;	
	padding: 1.03626% 0 0 0;
	z-index: 2;
}

#bottom-block #bottom-block-text
{
	font-size: 1.0625em;
}

#contacts 
{
	display: block;
	margin: 1% 0 0 13%;
	position: absolute;
	width: 24%;
}

#contacts span, #address > span, #bottom-lang .bottom-text
{
	margin-left: 5px;
	font-weight: bold;
	color: #000000;
	font-size: 1.375em;
	padding-bottom: 0.51813%;
	border-bottom: 2px solid #000000;
}

#contacts #phone
{
	display: block;
	padding: 45px 0 20px 0;
}

#contacts img, #address img
{
	height: 30px;
	width: 30px;
	border: 2px solid #000000;
	padding: 2px 3px 2px 3px;
	float: left;
}

#contacts a
{
	text-decoration: none;
	color: #000000;
	margin-left: 10px;
	transition: .5s ease-in-out;
}

#contacts a:hover
{
	margin-left: 20px;
}

#contacts .bottom-text
{
	text-indent: 10px;
	font-weight: bold;
	color: #000000;
	font-size: 1.0625em;
}

#address
{
	display: block;
	position: absolute;
	left: 44%;
	margin-top: 1%;
	width: 20.8333333%;
}

#address div
{
	display: block;
	padding: 45px 0 20px 0;
}

#address div span
{
	display: block;
	position: relative;
	left: 15px;
}

#bottom-lang
{
	display: block;
	position: absolute;
	right: 15%;
	margin-top: 1%;
}

#bottom-lang .bottom-text
{
	width: 98px;
}

#bottom-lang select
{
	display: block;
	margin-top: 35px;
	font-size: 1.0625em;
	position: absolute;
	width: 150px;
	height: 25px;
	border-radius: 5px;
	border: 1.5px solid #5da130;
	background-color: #90d379;
}

@media screen and (max-width: 501px)
{
	body
	{
		font-size: 95%;
	}

	#phone-menu
	{
		opacity: 1;
	}

	#menu
	{
		padding-bottom: 1.5%;
		display: none;
	}

	#content
	{
		margin: 14% 5% 5% 5%;
	}

	#heading
	{
		box-shadow: 0px 3px 6px 0px #50514f;
	}

	#heading > img
	{
		display: block;
		position: absolute;
		float: left;
		width: 9%;
		margin: 3%;
	}

	#heading a img
	{
		width: 27%;
		height: 100%;
		min-height: 50px;
	}

	#main-header
	{
		padding-top: 30px;
	}

	.wrapper 
	{
		height: 200px;
		width: 96%;
		min-width: 100px;
		padding-bottom: 160px;
	}

	.wrapper .controls 
	{
		width: 96%;
	}

	#bottom-block
	{
		height: 520px;
	}

	#contacts, #address, #bottom-lang
	{
		position: relative;
	}

	#contacts
	{
		margin-top: 20px;
	}

	#contacts #phone
	{
		padding-top: 25px;
	}

	#contacts #phone, #mail, #address
	{
		width: 220px;
	}

	#address
	{
		left: 15%;
		top: 5%;
		max-width: 250px;
	}

	#address div
	{
		padding-top: 25px;
	}

	#bottom-lang
	{
		right: 0;
		left: 15%;
		top: 7%;
		width: 50px;
	}

	#bottom-lang select
	{
		margin-top: 20px;
	}
}


@media screen and (max-width: 360px)
{
	.header
	{
		padding-bottom: 0;
	}

	.wrapper
	{
		padding-bottom: 180px;
	}

	#phone-menu button 
	{
		top: 2.3%;
	}
}

@media screen and (max-width: 801px)
{
	.wrapper .controls
	{
		width: 88%;
	}

	#content
	{
		margin-top: 15%;
	}
}

@media screen and (min-width: 501px) and (max-width: 801px)
{
	#heading a img
	{
		width: 17%;
	}

	#menu
	{
		font-size: 95%;
	}

	#top-lang
	{
		width: 117px;
	}

	#main-header
	{
		padding: 6% 0 0 0;
	}

	.wrapper 
	{
		height: 290px;
		width: 88%;
		min-width: 100px;
	}

	#bottom-block
	{
		height: 45%;
	}

	#bottom-lang select
	{
		width: 120px;
	}

	@media screen and (min-width: 501px) and (max-width: 689px)
	{
		.menu_it
		{
			font-size: 90%;
		}

		.menu_it a
		{
			padding: 11px 11px;
		}

		#top-lang
		{
			width: 100px;
		}
		@media screen and (min-width: 501px) and (max-width: 601px)
		{
			.menu_it
			{
				font-size: 75%;
			}

			#top-lang
			{
				width: 86px;
			}
			
			.wrapper
			{
				height: 230px;
			}
		}
	}
}

@media screen and (min-width: 801px) and (max-width: 1021px)
{
	#heading a img
	{
		width: 17%;
	}

	#contacts
	{
		margin-left: 10%;
		width: 30%
	}

	#address
	{
		width: 25%;
	}

	#content
	{
		margin-top: 16%;
	}
}


@media screen and (min-width: 1021px) and (max-width: 1100px)
{
	#content
	{
		margin-top: 15%;
	}
}