*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: #F3E9D2;
	font-size: 100%;
	font-family: "Palatino Linotype", "Georgia";
}

body ::selection
{
	background: green;
	color: white;
}

#top
{
	display: block;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 3;
}

#phone-menu 
{
	opacity: 0;
}

nav ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li 
{
    padding: 6px 20px;
    font-size: 26px;
}

nav ul li a 
{
	text-decoration: none;
	color: white;
}

#phone-menu button 
{
    opacity: 0.6;
    background-color: transparent;
    position: fixed;
    z-index: 2;
    top: 15px;
    left: 4%;
    border: none;
    width: 8.5333333%;
    height: 3%;
    min-height: 24px;
    outline: none;
    transition: opacity 0.2s ease-out;
}

@media screen and (min-width: 401px) and (max-width: 501px)
{
	#phone-menu button 
	{
	    left: 4%;
	    width: 8.8%;
	    height: 4.5%;
	    min-height: 30px;
	    max-height: 32px;
	}
}

#phone-menu button:before 
{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    right: auto;
    width: 100%;
    background: linear-gradient(to bottom, #000000, #000000 14%, transparent 14%, transparent 43%, #000000 43%, #000000 57%, transparent 57%, transparent 86%, #000000 86%, #000000 100%);
    transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
}

#phone-menu button:after 
{
    opacity: 0;
    content: '×';
    color: white;
    position: absolute;
    top: 16px;
    left: -4px;
    font-family: Arial, sans-serif;
    font-size: 76px;
    line-height: 0;
    transition: opacity 0.4s ease-out;
}

#phone-menu button:active 
{
    transform: translateY(2px);
}

.open #phone-menu button 
{
    opacity: 1;
}

#a
{
    display: none;
    position: absolute;
    top: -35px;
    left: 16px;
    width: 40px;
    height: 35px;
    font-weight: bold;
    font-size: 84px;
    color: white;
    cursor: pointer;
}

.open button:before 
{
    opacity: 0;
    width: 0;
}

.open #phone-menu button:after 
{
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(360deg);
    transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
    transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
    transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
}

nav 
{
    z-index: 1;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    overflow: hidden;
}

nav:before 
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(123, 156, 121, 0.98);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    transform: scale(0.04), translateY(9999px);
    overflow: hidden;
}

.open nav 
{
    top: 0;
}

.open nav:before 
{
    animation: menu-animation 0.8s ease-out forwards;
}

nav ul.menu, nav .lang-change
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: white;
}

nav ul.menu li, nav .lang-change li
{
    opacity: 0;
    text-align: center;
}

nav ul.menu li:hover:before, nav .lang-change li:hover:before
{
    left: 0;
    right: auto;
    width: 100%;
}

nav ul.menu li:hover:after, nav .lang-change li:hover:after 
{
    opacity: 1;
    padding: 0 20px;
    transform: translate(0px, 6px);
    transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
    transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
    transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
}

#c
{
    display: none;
}

.open ul.menu li, nav .lang-change li
{
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.open ul.menu li:nth-child(1) 
{
    transition-delay: 0.75s;
}

.open ul.menu li:nth-child(2) 
{
    transition-delay: 0.85s;
}

.open ul.menu li:nth-child(3) 
{
    transition-delay: 1s;
}

.open ul.menu li:nth-child(4) 
{
    transition-delay: 1.15s;
}

.open ul.menu li:nth-child(5) 
{
    transition-delay: 1.3s;
}

@-webkit-keyframes menu-animation 
{
    0% 
    {
        opacity: 0;
        transform: scale(0.04) translateY(300%);
    }

    40% 
    {
        transform: scale(0.04) translateY(0);
        transition: ease-out;
    }

    60% 
    {
        opacity: 1;
        transform: scale(0.02);
    }

    61% 
    {
        transform: scale(0.04);
    }

    99.9% 
    {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }

    100% 
    {
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}

@keyframes menu-animation 
{
    0% 
    {
        opacity: 0;
        transform: scale(0.04) translateY(300%);
      }

    40% 
    {
        transform: scale(0.04) translateY(0);
        transition: ease-out;
    }

    60%
    {
        opacity: 1;
        transform: scale(0.02);
    }

    61% 
    {
        transform: scale(0.04);
    }

    99.9% 
    {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }

    100% 
    {
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}

#heading
{
	display: block;
	width: 100%;
	background-color: #228b22;
	min-height: 50px;
}

#heading > img
{
	display: none;
}

#heading a img
{
	display: block;
	margin: 0 auto;
	width: 13%;
	height: 20%
}

#menu #top-menu
{
	direction: rtl;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #5da130;
	box-shadow: 0px 3px 6px 0px #50514f;
	text-align: center;
}

.menu_it a 
{
 	display: block;
 	margin: auto;	
 	text-decoration: none;
 	color: #F5F5F5;
 	padding: 12px 15px;
 	position: relative;
 	transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
 	z-index: 1;
}

.menu_it a:after 
{
 	content: '';
 	display: block;
 	height: 0;
 	position: absolute;
 	bottom: 0;
 	right: 1.25rem;
 	left: 1.25rem;
 	background-color: #ffffff;
 	-webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
 	transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
 	-webkit-transform-origin: bottom center;
 	transform-origin: bottom center;
 	z-index: -1;
}

.menu_it a:hover 
{
 	color: #2D2D2D;
}

.menu_it a:hover:after 
{
 	right: 0;
 	left: 0;
 	height: 100%;
}

.menu_it 
{
	display: inline-block;
	transition: .5s ease-in-out;
	color: #F5F5F5;
}

.menu_it :hover, .menu_it:hover 
{
	color: #000000;
	cursor: pointer;
}

#top-lang
{
	text-align: right;
	position: absolute;
	background-color:  #5da130;
	display: none;
	width: 110px;
	height: 145px;
	border: 2px solid #228b22;
	border-top: none;
	margin-left: -0.9%;
	transition: .5s ease-in-out;
}

#top-lang img
{
	width: 25px;
	margin: 5px 5px 0 6px;
}

#top-lang a
{
	padding: 0;
	font-size: 100%;
	text-decoration: none;
	color: #F5F5F5;
	transition: .5s ease-in-out;
}

#top-lang li
{
	margin: 4px 0 4px 0;
	list-style: none;
}

#top-lang >:first-child
{
	margin-top: 2px;
}

#top-lang a:hover
{
	color: #000000;
}

#top-menu :last-child:hover #top-lang
{
	display: block;
}

#main-text
{
	direction: rtl;
	margin: 16% 8% 1% 0;
	font-size: 1.0625em;
}

#main-text ul
{
	list-style: none;
	margin-bottom: 15px;
	margin: 5px 35px 0 0;
}

#main-text p
{
	font-size: 1.1875em;	
	font-weight: bold;
}

#questions div
{
	direction: rtl;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 1.1875em;
}

#questions > :first-child
{
	margin: 3% 0 0 0;
}

#questions > :last-child
{
	margin: 0% 0 5% 0;
}

#questions a
{
	text-decoration: none;
	color: #228b22;
	transition: .5s ease-in-out;
}

#questions a:hover
{
	color: #000000;
}

#questions .wrapper
{
    text-align: center;
    font-weight: 100;
}

#questions a
{
    color: #228b22;
    text-decoration: none;
}
#questions span
{
    font-weight: 100;
    transition: all .95s;
    border-bottom: 1px solid;
}
#questions span:nth-child(2)
{
    transition-delay: .01s;
}
#questions span:nth-child(3)
{
    transition-delay: .02s;
}
#questions span:nth-child(4)
{
    transition-delay: .03s;
}
#questions span:nth-child(5)
{
    transition-delay: .04s;
}
#questions span:nth-child(6)
{
    transition-delay: .05s;
}
#questions span:nth-child(7)
{
    transition-delay: .06s;
}
#questions span:nth-child(8)
{
    transition-delay: .07s;
}
#questions span:nth-child(9)
{
    transition-delay: .08s;
}
#questions span:nth-child(10)
{
    transition-delay: .09s;
}
#questions span:nth-child(11)
{
    transition-delay: .10s;
}
#questions span:nth-child(12)
{
    transition-delay: .11s;
}
#questions span:nth-child(13)
{
    transition-delay: .12s;
}
#questions span:nth-child(14)
{
    transition-delay: .13s;
}
#questions span:nth-child(15)
{
    transition-delay: .14s;
}
#questions span:nth-child(16)
{
    transition-delay: .15s;
}
#questions span:nth-child(17)
{
    transition-delay: .16s;
}
#questions span:nth-child(18)
{
    transition-delay: .17s;
}
#questions span:nth-child(19)
{
    transition-delay: .18s;
}

#questions a:hover span
{
    font-weight: 600;
}
#questions a:hover span:nth-child(19)
{
     transition-delay: .01s;
}
#questions a:hover span:nth-child(18)
{
    transition-delay: .02s;
}
#questions a:hover span:nth-child(17)
{
    transition-delay: .03s;
}
#questions a:hover span:nth-child(16)
{
    transition-delay: .04s;
}
#questions a:hover span:nth-child(15)
{
    transition-delay: .05s;
}
#questions a:hover span:nth-child(14)
{
    transition-delay: .06s;
}
#questions a:hover span:nth-child(13)
{
    transition-delay: .07s;
}
#questions a:hover span:nth-child(12)
{
    transition-delay: .08s;
}
#questions a:hover span:nth-child(11)
{
    transition-delay: .09s;
}
#questions a:hover span:nth-child(10)
{
    transition-delay: .10s;
}
#questions a:hover span:nth-child(9)
{
    transition-delay: .11s;
}
#questions a:hover span:nth-child(8)
{
    transition-delay: .12s;
}
#questions a:hover span:nth-child(7)
{
    transition-delay: .13s;
}
#questions a:hover span:nth-child(6)
{
     transition-delay: .14s;
}
#questions a:hover span:nth-child(5)
{
    transition-delay: .15s;
}
#questions a:hover span:nth-child(4)
{
    transition-delay: .16s;
}
#questions a:hover span:nth-child(3)
{
    transition-delay: .17s;
}
#questions a:hover span:nth-child(2)
{
    transition-delay: .18s;
}
#questions a:hover span:nth-child(1)
{
    transition-delay: .19s;
}      
      
#questions a.hover-shadow:hover 
{
    text-shadow: 1px 1px 0px #ddd, 2px 2px 0px #ddd, 3px 3px 0px #ddd;
}

#questions a.hover-color:hover 
{
    border-color: darkmagenta;
}

#forest
{
	height: 65px;
	background-image: url('pictures/el.png');
	background-position: left top;
	background-size: 45px 75px;
}

#bottom-block
{
	display: block;
	position: absolute;
	width: 100%;
	height: 35%;
	background-color: #90d379;	
	padding: 1.03626% 0 0 0;
	z-index: 2;
}

#bottom-block #bottom-block-text
{
	font-size: 1.0625em;
}

#contacts 
{
	direction: rtl;
	display: block;
	position: absolute;
	width: 24%;
	right: 15%;
	margin-top: 1%;
}

#contacts span, #address > span, #bottom-lang .bottom-text
{
	margin-left: 5px;
	font-weight: bold;
	color: #000000;
	font-size: 1.375em;
	padding-bottom: 0.51813%;
	border-bottom: 2px solid #000000;
}

#contacts #phone
{
	display: block;
	padding: 45px 0 20px 0;
}

#contacts img, #address img
{
	height: 30px;
	width: 30px;
	border: 2px solid #000000;
	padding: 2px 3px 2px 3px;
	float: right;
}

#contacts a
{
	text-decoration: none;
	color: #000000;
	margin-right: 10px;
	transition: .5s ease-in-out;
}

#contacts a:hover
{
	margin-left: 20px;
}

#contacts .bottom-text
{
	text-indent: 10px;
	font-weight: bold;
	color: #000000;
	font-size: 1.0625em;
}

#address
{
	direction: rtl;
	display: block;
	position: absolute;
	left: 34%;
	margin-top: 1%;
	width: 20.8333333%;
}

#address div
{
	display: block;
	padding: 45px 0 20px 0;
}

#address div span
{
	margin-right: 45px;
	display: block;
	position: relative;
}

#bottom-lang
{
	direction: rtl;
	display: block;
	position: absolute;
	margin: 1% 0 0 13%;
}

#bottom-lang .bottom-text
{
	width: 35px;
}

#bottom-lang select
{
	display: block;
	margin-top: 35px;
	font-size: 1.0625em;
	position: absolute;
	width: 150px;
	height: 25px;
	border-radius: 5px;
	border: 1.5px solid #5da130;
	background-color: #90d379;
}

@media screen and (max-width: 501px)
{
	body
	{
		font-size: 95%;
	}

	#phone-menu
	{
		opacity: 1;
	}

	#menu
	{
		padding-bottom: 1.5%;
		display: none;
	}

	#heading
	{
		box-shadow: 0px 3px 6px 0px #50514f;
	}

	#heading > img
	{
		display: block;
		position: absolute;
		float: left;
		width: 9%;
		margin: 3%;
	}

	#heading a img
	{
		width: 27%;
		height: 100%;
		min-height: 50px;
	}

	#main-text
	{
	margin: 25% 8% 15% 8%;
	}

	#questions
	{
		margin-left: 5%;
		width: 90%;
	}

	#questions > :first-child
	{
		margin: 0;
	}

	#questions > :last-child
	{
		margin: 0% 0 15% 0;
	}

	#bottom-block
	{
		direction: rtl;
		height: 520px;
	}

	#contacts, #address, #bottom-lang
	{
		position: relative;
	}

	#contacts
	{
		margin-top: 20px;
	}

	#contacts #phone
	{
		padding-top: 25px;
	}

	#contacts #phone, #mail, #address
	{
		width: 220px;
	}

	#address
	{
		right: 15%;
		top: 5%;
		max-width: 250px;
	}

	#address div
	{
		padding-top: 25px;
	}

	#bottom-lang
	{
		right: 15%;
		top: 7%;
		width: 50px;
	}

	#bottom-lang select
	{
		margin-top: 20px;
	}
}

@media screen and (max-width: 360px)
{
	#phone-menu button 
	{
		top: 2.3%;
	}
}

@media screen and (min-width: 501px) and (max-width: 801px)
{
	#heading a img
	{
		width: 17%;
	}

	#menu
	{
		font-size: 95%;
	}

	#main-text
	{
		margin-top: 20%;
	}

	#bottom-block
	{
		height: 45%;
	}

	#bottom-lang select
	{
		width: 120px;
	}

	@media screen and (min-width: 501px) and (max-width: 680px)
	{
		.menu_it
		{
			font-size: 90%;
		}

		.menu_it a
		{
			padding: 11px 11px;
		}
	}
}

@media screen and (min-width: 801px) and (max-width: 1021px)
{
	#heading a img
	{
		width: 17%;
	}

	#contacts
	{
		margin-left: 10%;
		width: 30%
	}

	#address
	{
		width: 25%;
	}
}
