@media screen and (max-width: 441px) {
  #phone-version a {
    color: #000000;
    text-decoration: none;
  }

  #phone-version #operation {
    margin-top: 15px;
  }

  #phone-version #operation #operationTitle {
    text-align: center;
  }

  #phone-version #placeholder {
    height: 60px;
  }

  #phone-version #sum {
    background: linear-gradient(45deg, rgba(68,129,235,1) 0%, rgba(4,190,254,1) 100%);
    border: none;
    border-radius: 0;
    color: #ffffff;
    height: 50px;
    left: 0;
    margin-top: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  #phone-version #sum::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
  }

  #phone-version #sum img {
    height: 10px;
    width: 10px;
  }

  #phone-version #operationInfo {
    margin-top: 15px;
  }

  #phone-version #operationInfo .Info {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
  }

  #phone-version #operationInfo #recipient {
    margin-top: 5px;
  }

  #phone-version #operationInfo #balance img {
    height: 15px;
    width: 15px;
  }

  #phone-version #operationInfo #balance .numOfCoins {
    align-items: center;
    display: flex;
  }

  #phone-version #operationInfo #balance .numOfCoins img {
    margin-left: 5px;
  }

  #phone-version #button {
    position: relative;
    top: 110px;
    text-align: center;
    width: 100%;
    z-index: 1;
  }
}
