header {
  background: none;

  box-shadow: none;
  color: #ffffff;
}

footer {
  display: none;
}

#phone-games-bg {
  display: none;
}

@media screen and (max-width: 441px) {
  #phone-games-bg {
    display: block;
  }

  #phone-games-bg {
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 5;
    overflow: hidden;
  }

  #phone-games-bg img {
    width: 100%;
    height: 75vh;
  }

  #phone-version {
    width: 100%;
    position: relative;
    z-index: 6;
    padding-bottom: 0;
  }

  #phone-version #roulette-body {
    padding-top: 10px;
    margin: 0 auto;
    width: 315px;
  }

  #phone-version #roulette-body #roulette {
    width: 100%;
  }

  #phone-version #roulette-body #circle {
    text-align: center;
    position: absolute;
    z-index: 9;
    top: 95px;
    left: 50%;
    margin-left: -28.5%;    /*28.5%*/
  }

  #phone-version #roulette-body #timePath {
    position: absolute;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #phone-version #roulette-body #timePathText {
    position: absolute;
  }

  #phone-version #roulette-body #canvas1 {
    opacity: 0;
    transition: transform cubic-bezier(0, 0.43, 0.45, 1) 16s;
  }

  #phone-version #roulette-body #roulette-arrow {
    position: absolute;
    top: 70px;
    z-index: 10;
    left: 50%;
    margin-left: -6.2%;
    width: 40px;
  }

  #phone-version #players {
    padding-top: 15px;
  }

  #phone-version .partOfList {
    align-items: center;
    display: flex;
    margin: 10px 0;
    width: 100%;
  }

  #phone-version #first-player .personsPhoto {
    border: solid 2px #F13D2F;
  }

  #phone-version #second-player .personsPhoto {
    border: solid 2px #F9BA3D;
  }

  #phone-version #third-player .personsPhoto {
    border: solid 2px #50D2DF;
  }

  #phone-version .personsPhoto {
    border-radius: 20px;
    height: 40px;
    overflow: hidden;
    width: 40px;
  }

  #phone-version .personsPhoto img {
    width: 100%;
  }

  #phone-version .personsInfo {
    margin-left: 35px;
    color: #ffffff;
  }

  #phone-version .amountOfCoins {
    align-items: center;
    display: flex;
  }

  #phone-version .amountOfCoins img {
    height: 15px;
    margin-left: 5px;
    width: 15px;
  }

  #phone-version #balance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  #phone-version #betField {
    height: 25vh;
  }

  #phone-version #sumOfBet input {
    background: inherit;
		border: solid 1px #707070;
		border-radius: 10px;
    overflow: hidden;
		padding: 5px 10px;
  	resize: none;
  	width: 92.5%;
    margin-top: 10px;
  }

  .hugeButton {
    margin-top: 20px;
  }
}

audio {
  display: none;
}

.nightMode header {
  background: none;
}

.nightMode #timePathText {
  color: #000000;
}

@media screen and (min-width: 377px) {
  #phone-version #roulette-body #circle {
    margin-left: -26.5%;
  }
}
