@media screen and (max-width: 441px) {
  #createTable {
    text-align: center;
    width: 100%;
    padding: 10px 0 5px 0;
  }

  #tableName {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #707070;
    margin: 10px 0 20px;
    height: 20px;
    overflow: hidden;
    padding: 10px 0 15px 0;
    resize: none;
  }

  #tableBet {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #707070;
    height: 20px;
    overflow: hidden;
    padding: 10px 0 15px 0;
    resize: none;
  }

  #toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }


  input[type="checkbox"] {
    width: 50px;
    height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0,0,0, .2);
    transition: 0.5s;
    position: relative;
  }

  input:checked[type="checkbox"] {
    background: #2B98F2;
  }

  input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0, .2);
    transition: 0.5s;
  }

  input:checked[type="checkbox"]::before {
    left: 25px;
  }
}
